<footer class="footer">
  <div class="footer-text">
    Made with <i class="icon-color fa fa-heart" aria-hidden="true"></i> by <a href="http://portfolio.stevesuranant.com">Steve Suranant</a>
  </div>
</footer>