<navbar class="navbar">
  <div id="left-nav">
    <div id="site-logo">
      <a href="/">
        <img src="{{asset "img/smokeybyte-lg-nobg.svg"}}" />    
      </a>
      
    </div>
    <div id="site-name">
      <a href="/">
        <span id="bold">Smokey</span><span id="not-bold">Byte</span>
      </a>
       
    </div>    
  </div>
  <div id="right-nav">
    <a href="https://www.facebook.com/steve.suranant">
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </a>
    <a href="https://www.linkedin.com/in/jirateepsuranant">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/053steve">
      <i class="fa fa-github" aria-hidden="true"></i>      
    </a>        
  </div>  
</navbar>  